<div class="row bg-title">
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
    <h4 class="page-title">Configuraciones Generales</h4></div>
  <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
    <ol class="breadcrumb">
      <li class="">Configuraciones</li>
      <li class="active">Generales</li>
    </ol>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="row">


  <div class="col-md-12">
    <div class="white-box">

      <div id="mensaje"></div>


      <ul class="nav customtab nav-tabs" role="tablist">

        <li class="nav-item" role="presentation">
          <a href="#importar" class="nav-link active" aria-controls="lista" role="importar"
             data-toggle="tab" aria-expanded="true">Importar</a>
        </li>
        <li class="nav-item" role="presentation">
          <a href="#ciudatos" class="nav-link" aria-controls="ciudatos" role="ciudatos"
             data-toggle="tab" aria-expanded="true">Importar Ciudatos</a>
        </li>

      </ul>

      <div class="tab-content row" style="height: auto">


        <div class="tab-pane col-md11 in active" role="tabpanel" id="importar" aria-expanded="true">


          <div class="row">

            <div class="col-md-12">
              <h3 class="text-warning">
                Convierta el archivo que contiene los datos a xls, luego, en Excel <br>
                presione "Guardar Como" y seleccione en el tipo de archivo: CSV delimitado por
                comas ","
              </h3>
            </div>


          </div>
          <%= form_tag import_goals_path, multipart: true do %>
            <div class="row">
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">Cargar ODS:</label>
                </div>
                <div class="col-md-5">
                  <%= file_field_tag :file,accept: '.csv' %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= submit_tag "Importar CSV", class:"btn btn-primary" %>
            </div>

          <% end %>


          <br>

          <%= form_tag import_targets_path, multipart: true do %>
            <div class="row">
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">Cargar Metas de ODS:</label>
                </div>
                <div class="col-md-5">
                  <%= file_field_tag :file,accept: '.csv' %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= submit_tag "Importar CSV", class:"btn btn-primary" %>
            </div>

          <% end %>
          <br>

          <%= form_tag import_indicators_path, multipart: true do %>
            <div class="row">
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">Cargar Indicadores de las Metas:</label>
                </div>
                <div class="col-md-5">
                  <%= file_field_tag :file,accept: '.csv' %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= submit_tag "Importar CSV", class:"btn btn-primary" %>
            </div>

          <% end %>
          <br>

          <%= form_tag 'indicators/load_descripcion', multipart: true do %>
            <div class="row">
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">Cargar Descripciones de Indicadores:</label>
                </div>
                <div class="col-md-5">
                  <%= file_field_tag :file,accept: '.csv' %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= submit_tag "Importar CSV", class:"btn btn-primary" %>
            </div>

          <% end %>
          <br>

          <%= form_tag "configs/load_cities", multipart: true do %>
            <div class="row">
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">Cargar Ciudades:</label>
                </div>
                <div class="col-md-5">
                  <%= file_field_tag :file,accept: '.csv' %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= submit_tag "Importar CSV", class:"btn btn-primary" %>
            </div>

          <% end %>
          <br>

          <%= form_tag "configs/web_pages_cities", multipart: true do %>
            <div class="row">
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">Cargar P&aacute;ginas web de las Ciudades:</label>
                </div>
                <div class="col-md-5">
                  <%= file_field_tag :file,accept: '.csv' %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= submit_tag "Importar CSV", class:"btn btn-primary" %>
            </div>

          <% end %>
          <br>

          <%= form_tag "configs/description_cities", multipart: true do %>
            <div class="row">
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">Cargar Descripci&oacute;n de las Ciudades:</label>
                </div>
                <div class="col-md-5">
                  <%= file_field_tag :file,accept: '.csv' %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= submit_tag "Importar CSV", class:"btn btn-primary" %>
            </div>

          <% end %>
          <br>

          <%= form_tag "indicator_values/importar_indicator_value", multipart: true do %>
            <div class="row">
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">Cargar Valores de Indicadores por ciudades y por año:</label>
                </div>
                <div class="col-md-5">
                  <%= file_field_tag :file,accept: '.csv' %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= submit_tag "Importar CSV", class:"btn btn-primary" %>
            </div>

          <% end %>
          <br>
          <br>
          </div>




        <div class="tab-pane col-md11 in" role="tabpanel" id="ciudatos" aria-expanded="false">
        <div class="row">

          <div class="col-md-12">
            <h3 class="text-warning">
              Convierta el archivo que contiene los datos a xls, luego, en Excel <br>
              presione "Guardar Como" y seleccione en el tipo de archivo: CSV delimitado por
              comas ","
            </h3>
          </div>


        </div>
        <%= form_tag "configs/importheme", multipart: true do %>
          <div class="row">
            <div class="form-group">
              <div class="col-md-4">
                <label class="control-label">Cargar Temas:</label>
              </div>
              <div class="col-md-5">
                <%= file_field_tag :file,accept: '.csv' %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= submit_tag "Importar CSV", class:"btn btn-primary" %>
          </div>

        <% end %>


        <br>

        <%= form_tag "configs/importpersons_has_questions", multipart: true do %>
          <div class="row">
            <div class="form-group">
              <div class="col-md-4">
                <label class="control-label">Cargar datos Subjetivos:</label>
              </div>
              <div class="col-md-5">
                <%= file_field_tag :file,accept: '.csv' %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= submit_tag "Importar CSV", class:"btn btn-primary" %>
          </div>

        <% end %>
        <br>


          <%= form_tag "configs/dictionary_objetive", multipart: true do %>
            <div class="row">
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">Cargar Diccionario de Datos Objetivos:</label>
                </div>
                <div class="col-md-5">
                  <%= file_field_tag :file,accept: '.csv' %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= submit_tag "Importar CSV", class:"btn btn-primary" %>
            </div>

          <% end %>
          <br>

          <%= form_tag "configs/objetive_data", multipart: true do %>
            <div class="row">
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">Cargar datos Objetivos:</label>
                </div>
                <div class="col-md-5">
                  <%= file_field_tag :file,accept: '.csv' %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= submit_tag "Importar CSV", class:"btn btn-primary" %>
            </div>

          <% end %>
          <br>


          <!-- diccionario universidades ciudades -->
          <%= form_tag "configs/dict_univ_cities", multipart: true do %>
            <div class="row">
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">Cargar Diccionario de Ciudades Universitarias:</label>
                </div>
                <div class="col-md-5">
                  <%= file_field_tag :file,accept: '.csv' %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= submit_tag "Importar CSV", class:"btn btn-primary" %>
            </div>

          <% end %>
          <br>
          <%= form_tag "configs/university_cities", multipart: true do %>
            <div class="row">
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">Cargar datos Ciudades Unviersitarias:</label>
                </div>
                <div class="col-md-5">
                  <%= file_field_tag :file,accept: '.csv' %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= submit_tag "Importar CSV", class:"btn btn-primary" %>
            </div>

          <% end %>
          <br>


          <!-- EOT -->
          <%= form_tag "configs/eot_dictionary", multipart: true do %>
            <div class="row">
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">Cargar Diccionario de EOT (Educaci&oacute;n T&eacute;cnica y Tecnol&oacute;gica):</label>
                </div>
                <div class="col-md-5">
                  <%= file_field_tag :file,accept: '.csv' %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= submit_tag "Importar CSV", class:"btn btn-primary" %>
            </div>

          <% end %>
          <br>
          <%= form_tag "configs/eot_data", multipart: true do %>
            <div class="row">
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">Cargar Datos de EOT (Educaci&oacute;n T&eacute;cnica y Tecnol&oacute;gica):</label>
                </div>
                <div class="col-md-5">
                  <%= file_field_tag :file,accept: '.csv' %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= submit_tag "Importar CSV", class:"btn btn-primary" %>
            </div>

          <% end %>
          <br>


          <!-- ODS de CIUDATOS -->

          <%= form_tag "configs/ods_ciudatos", multipart: true do %>
            <div class="row">
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">Cargar Datos de ODS(Ciudatos), esta data debe venir separada cada dato en una columna**:</label>
                </div>
                <div class="col-md-5">
                  <%= file_field_tag :file,accept: '.csv' %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= submit_tag "Importar CSV", class:"btn btn-primary" %>
            </div>

          <% end %>
          <br>


      </div>


    </div>


  </div>
</div>
</div>

<div class="modal fade" id="modaldepartamento" tabindex="-1" role="dialog"
     aria-labelledby="mediumModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" id="modaldepartmentdialog">

  </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

    });
</script>



