<nav class="navbar navbar-default">
  <div class="container-fluid">
    <%= link_to "Nueva", new_target_path, remote: true, class: "btn btn-info" %>
    <p>Metas #index</p>
  </div>
</nav>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">ODS</th>
        <th scope="col">Nombre</th>
        <th scope="col">Disponible</th>
        <th scope="col">Acci&oacute;n</th>
      </tr>
      </thead>
      <tbody>
      <% @targets.each do |row| %>
        <tr>
          <th scope="row"><%= row.number %></th>
          <th scope="row">ODS 01</th>
          <td><%= row.name %></td>
          <td><%= row.available %></td>
          <td><%= link_to "Editar", edit_target_path(row), remote: true, class:"btn btn-primary" %>
            <button type="button" class="btn btn-danger">Eliminar</button></td>

        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</nav>
