
<div class="row bg-title">
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
    <h4 class="page-title">Metas</h4></div>
  <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
    <ol class="breadcrumb">
      <li class="active">Metas</li>
    </ol>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="row">


  <div class="col-md-12">
    <div class="white-box">


      <div class="row">
        <div class="btn-group m-b-20">

          <div class="col-sm-2">
            <div class="float-left">
              <%= button_to "Nueva Meta", { action: "new" },data:{toggle:"modal"}, remote: true, class: "btn btn-info",
                            :method => :get %>
            </div>
          </div>


        </div>
      </div>
      <br>

      <div class="row">
        <div class="form-group">
          <div class="col-md-1">
            <label>Filtrar por ODS</label>
          </div>
          <div class="col-md-5">    <%= select("goal", "goal_id", Goal.all.collect {|p| [ p.number, p.id ] },
                                               { include_blank: false,
                                                 prompt: "Seleccione Un ODS"},
                                               {:class => "form-control chosen"}) %></div>

        </div>
      </div>
      <br>

      <div class="table-responsive" id="">
        <table class='table table-striped dataTable table-bordered' id="tblmetas">
          <thead>
          <tr>
            <th scope="col">ODS</th>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descrici&oacute;n</th>
            <th scope="col">Disponible</th>
            <th scope="col">Acci&oacute;n</th>
          </tr>
          </thead>
          <tbody>
          <% @targets.each do |row| %>
            <tr>
              <th scope="row"><%= row.goal.number %></th>
              <th scope="row"><%= row.number %></th>
              <td><%= row.name %></td>
              <td><%= row.description %></td>
              <td><% if row.available==true
                       concat "SI";
                     else
                       concat  "NO";
                     end %></td>
              <td><%= button_to "Editar", {action: "edit", id: row.id},data:{toggle:"modal"}, remote: true, class:"btn btn-primary",
                                :method => :get %>
                <%= button_to "Eliminar", {action: "deletetarget", id: row.id},data:{toggle:"modal"}, remote: true,
                              class:"btn btn-danger",
                              :method => :get %>
              </td>
            </tr>
          <% end %>

          </tbody>
        </table>
      </div>


    </div>


  </div>
</div>


<div class="modal fade" id="modalmetas" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" id="modaltargetdialog">

  </div>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        $('#tblmetas').DataTable();
        $('#modalmetas').on('hidden.bs.modal', function (e) {
            $("#modaltargetdialog").html("");
        });

        jQuery(".chosen").chosen({
            disable_search_threshold: 10,
            no_results_text: "Oops, nothing found!",
            width: "100%"
        });
    } );
</script>



