
<table class='table table-striped dataTable table-bordered' id="tblciudad">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Departamento</th>
    <th scope="col">Nombre</th>
    <th scope="col">Poblaci&oacute;n Total</th>
    <th scope="col">Grupo</th>
    <th scope="col">Descripci&oacute;n</th>
    <th scope="col">Acci&oacute;n</th>
  </tr>
  </thead>
  <tbody>

  <% @cities.each do |row| %>
    <tr>
      <th scope="row"><%= row.id %></th>
      <td>
        <% unless row.department.nil? %>
          <%= row.department.name %>
        <% end %>
      </td>
      <td><%= row.name %></td>
      <td><%= row.total_population %></td>
      <td><%= row.group_city.nil? ? '' : row.group_city.name %></td>
      <td><%= row.description %></td>
      <td><%= button_to "Editar", {action: "edit", id: row.id},data:{toggle:"modal"}, remote: true, class:"btn btn-primary",
                        :method => :get %>
        <%= button_to "Eliminar", {action: "deletecity", id: row.id},data:{toggle:"modal"}, remote: true,
                      class:"btn btn-danger",
                      :method => :get %>
      </td>
    </tr>
  <% end %>

  </tbody>
</table>
