
  <div class="modal-content" >
    <div class="modal-header">
      <h5 class="modal-title" id="mediumModalLabel"><%= title %></h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <%= form_for @goal,html: { multipart: true,remote: true  } do |f| %>
      <div class="modal-body">
        <div class="card-body card-block">
          <%= render 'layouts/viewerror', object: @goal %>
          <div class="form-group">
            <label for="company" class=" form-control-label">Número de ODS</label>
            <%= f.text_field :number, class: "form-control input-lg", placeholder: "Número de ODS",autofocus:true %>
          </div>
          <div class="form-group">
            <label for="company" class=" form-control-label">Nombre</label>
            <%= f.text_field :name, class: "form-control input-lg", placeholder: "Nombre" %>
          </div>

          <div class="form-group">
            <label for="company" class=" form-control-label">Descripción</label>
            <%= f.text_area  :description, class: "form-control input-lg", placeholder: "Descripción", rows:4 %>
          </div>

          <div class="form-group">
            <%= f.hidden_field(:avatar) %>
            <%= f.file_field(:avatar) %>
          </div>

          <div class="form-group">
            <label for="company" class=" form-control-label">Logo</label>
            <!--Con lo siguiente mando a buscar la url completa de la imagen, con lo queviene de BD -->
            <%= image_tag(@goal.avatar) %>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit title_button, class: "btn btn-primary"%>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    <% end %>
  </div>
