<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse slimscrollsidebar">
    <ul class="nav" id="side-menu">
      <li class="sidebar-search hidden-sm hidden-md hidden-lg">
        <!-- input-group -->
        <div class="input-group custom-search-form">
          <input type="text" class="form-control" placeholder="Search..."> <span class="input-group-btn">
            <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>

            </span></div>
        <!-- /input-group -->
      </li>
      <li class="user-pro">
        <a href="#" class="waves-effect" >
          <%= image_tag('notuser.png',class: "img-circle") %>
          <span class="hide-menu"><%= current_user.email %><span class="fa arrow"></span></span>
        </a>
        <ul class="nav nav-second-level collapse" aria-expanded="false" >
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-power-off"></i> Logout
          <% end %>
        </ul>
      </li>

      <li class="nav-small-cap m-t-10">--- MENU PRINCIPAL</li>

      <li>
        <a href="#" class="  waves-effect">
          <i class="fa fa-shield"></i>

          <span class="hide-menu">ODS <span class="fa arrow"></span></span>

        </a>
        <ul class="nav nav-second-level collapse">

          <li>
            <%= link_to goals_path , class:"menulink" do  %>
              <i class="fa fa-id-badge"></i>Parametrizar ODS
            <% end %>
          </li>
          <li>
            <%= link_to goal_groups_path, class:"menulink" do  %>
              <i class="fa fa-id-badge"></i>Grupos ODS
            <% end %>
          </li>
        </ul>
      </li>


      <li >
        <%= link_to targets_path, class:"menulink  waves-effect" do  %>
          <i class="menu-icon fa fa-table"></i>
          <span class="hide-menu">Metas</span>
        <% end %>
      </li>

      <li>
        <a href="#" class="  waves-effect">
          <i class="fa fa-share"></i>

          <span class="hide-menu">Indicadores  <span class="fa arrow"></span></span>

        </a>
        <ul class="nav nav-second-level collapse">

          <li>
            <%= link_to indicators_path , class:"menulink" do  %>
              <i class="fa fa-id-badge"></i>Agregar Indicadores
            <% end %>
          </li>
          <li>
            <%= link_to indicator_values_path, class:"menulink" do  %>
              <i class="fa fa-id-badge"></i>Valores Indicadores
            <% end %>
          </li>
        </ul>
      </li>

      <li>
        <a href="#" class="  waves-effect">
          <i class="fa fa-cog"></i>

          <span class="hide-menu">Ciudades <span class="fa arrow"></span></span>

        </a>
        <ul class="nav nav-second-level collapse">

          <li>
            <%= link_to cities_path , class:"menulink" do  %>
              <i class="fa fa-id-badge"></i>Parametrizar Ciudades
            <% end %>
          </li>
          <li>
            <%= link_to group_cities_path, class:"menulink" do  %>
              <i class="fa fa-id-badge"></i>Grupos
            <% end %>
          </li>
        </ul>
      </li>

      <li  >
        <%= link_to measures_path do  %>
          <i class="menu-icon fa fa-table"></i>
          <span class="hide-menu">Unidades de Medida</span>
        <% end %>
      </li>

      <li>
        <a href="#" class="  waves-effect">
          <i class="fa fa-cogs"></i>

          <span class="hide-menu">Configuraciones  <span class="fa arrow"></span></span>

        </a>
        <ul class="nav nav-second-level collapse">

          <li>
            <%= link_to departments_path , class:"menulink" do  %>
              <i class="fa fa-id-badge"></i>Departamentos
            <% end %>
          </li>
          <li>
            <%= link_to roles_path, class:"menulink" do  %>
              <i class="fa fa-id-badge"></i>Roles
            <% end %>
          </li>
          <li>
            <%= link_to "allusers", class:"menulink" do  %>
              <i class="fa fa-id-badge"></i>Usuarios
            <% end %>
          </li>

        </ul>
      </li>


    </ul>
  </div>
</div>