<!-- parcial del menu -->
<nav id="sidebar">
  <div class="sidebar-header">

    <%= link_to root_path, class:"nav-link" do  %>
      <h3>ODS Ciudatos</h3>
    <% end %>
  </div>

  <ul class="list-unstyled components">
    <p>Mi perfil</p>
    <li class="">
      <%= link_to "ODS", controller: 'goals' %>
    </li>
    <li class="">
      <%= link_to "Metas", controller: 'targets' %>
    </li>
    <li class="">
      <%= link_to "Indicadores", controller: 'indicators' %>
    </li>
    <li>
      <%= link_to "Paises", controller: 'countries' %>
    </li>
    <li>
      <%= link_to "Departamentos", controller: 'departments' %>
    </li>
    <li>
      <%= link_to "Ciudades", controller: 'cities' %>
    </li>
    <li>
      <%= link_to "Grupo Ciudad", controller: 'group_cities' %>
    </li>
    <li>
      <%= link_to "Grupo ODS", controller: 'goal_groups' %>
    </li>
    <li>
      <%= link_to "Unidad de Medida", controller: 'measures' %>
    </li>

    <li>
      <%= link_to "Roles", controller: 'roles' %>
    </li>

  </ul>
</nav>