<!DOCTYPE html>
<html>
<head>
  <title>Odsalimentador</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script>
      var baseURL = '<%= request.base_url %>'
      var constantevaluador = "<?= ROLE_EVALUATOR ?>";
      var constanteejecutor = "<?= ROLE_EXECUTOR ?>";
      var constanteroleadmin = "<?= ROLE_ADMIN ?>";
  </script>
</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">

<% if user_signed_in? %>

  <%= render "layouts/partealta" %>

  <%= yield %>

  <%= render "layouts/menu" %>
<% else %>

  <%= yield %>
<% end %>

<div class="modal fade" id="modalDelGlobal" tabindex="-1" role="dialog" aria-labelledby="modalodsLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" id="modalDelGlobalContent">

  </div>
</div>

</body>
</html>
