<!DOCTYPE html>
<html>
  <head>
    <title>Odsalimentador</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <%= render "layouts/menu" %>
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->



    <!-- partial -->
    <div id="right-panel" class="right-panel">
      <%= render "layouts/partealta" %>

        <p class="notice" ><%= notice %></p>
        <p class="alert" ><%= alert %></p>
      <%= yield %>

    </div>
    <!-- main-panel ends -->
  </div>

  <!-- container-scroller -->

  </body>

</html>
